body{margin-top:20px;
    background-color: #eee;
    }
    
    .search-result-categories>li>a {
        color: #b6b6b6;
        font-weight: 400
    }
    
    .search-result-categories>li>a:hover {
        background-color: #ddd;
        color: #555
    }
    
    .search-result-categories>li>a>.glyphicon {
        margin-right: 5px
    }
    
    .search-result-categories>li>a>.badge {
        float: right
    }
    
    .search-results-count {
        margin-top: 10px
    }
    
    .search-result-item {
        padding: 20px;
        background-color: #fff;
        border-radius: 4px
    }
    
    .search-result-item:after,
    .search-result-item:before {
        content: " ";
        display: table
    }
    
    .search-result-item:after {
        clear: both
    }
    
    .search-result-item .image-link {
        display: block;
        overflow: hidden;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px
    }
    
    @media (min-width:768px) {
        .search-result-item .image-link {
            display: inline-block;
            margin: -20px 0 -20px -20px;
            float: left;
            width: 200px
        }
    }
    
    @media (max-width:767px) {
        .search-result-item .image-link {
            max-height: 200px
        }
    }
    
    .search-result-item .image {
        max-width: 100%
    }
    
    .search-result-item .info {
        margin-top: 2px;
        font-size: 12px;
        color: #999
    }
    
    .search-result-item .description {
        font-size: 13px
    }
    
    .search-result-item+.search-result-item {
        margin-top: 20px
    }
    
    @media (min-width:768px) {
        .search-result-item-body {
            margin-left: 200px
        }
    }
    
    .search-result-item-heading {
        font-weight: 400
    }
    
    .search-result-item-heading>a {
        color: #555
    }
    
    @media (min-width:768px) {
        .search-result-item-heading {
            margin: 0
        }
    }

    
    @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

    @font-face {
      font-family: AstroSpace;
      src: url(/fonts/AstroSpace.ttf);
    }
    
    body {
      margin: 0;
      padding: 0;
      font-family: "Montserrat", sans-serif;
      background-color: #212c3b;
    }
    
    header {
      background-color: #141b25;
    }
    
    .main-nav {
      height: 70px;
    }
    
    .logo {
      color: white;
      line-height: 90px;
      font-size: 30px;
      font-weight: bold;
      text-decoration: none;
      margin-left: 30px;
      font-family: "AstroSpace", sans-serif;
    }
    
    .navlinks {
      list-style: none;
      float: right;
      line-height: 90px;
      margin-bottom: 0;
      padding: 0;
    }
    
    .navlinks li {
      display: inline-block;
      margin: 0px 20px;
    }
    
    .navlinks li a {
      color: white;
      text-decoration: none;
      font-size: 18px;
      transition: all 0.3s linear 0s;
      text-transform: uppercase;
    }
    
    .navlinks li a:hover {
      color: #7ebcb9;
      padding-bottom: 7px;
      border-bottom: 2px solid #7ebcb9;
    }
    
    li a.contact {
      background-color: #00adb5;
      padding: 9px 20px;
      border-radius: 50px;
      transition: all 0.3s ease 0s;
      border-bottom: none;
    }
    
    li a.contact:hover {
      background-color: #047e85;
      color: white;
      border-bottom: none;
    }
    
    #check {
      display: none;
    }
    
    .menu-btn {
      font-size: 25px;
      color: white;
      float: right;
      line-height: 90px;
      margin-right: 40px;
      display: none;
      cursor: pointer;
    }
    
    @media (max-width: 800px) {
      .navlinks {
        position: fixed;
        width: 100%;
        height: 100vh;
        text-align: center;
        transition: all 0.5s;
        right: -100%;
        background: #222831;
      }
    
      .navlinks li {
        display: block;
      }
    
      .navlinks li a {
        font-size: 20px;
      }
    
      .navlinks li a:hover {
        border-bottom: none;
      }
    
      .menu-btn {
        display: block;
      }
    
      #check:checked ~ .navlinks {
        right: 0;
      }
    }
    
    @media (max-width: 360px) {
      .logo {
        margin-left: 10px;
        font-size: 25px;
      }
    
      .menu-btn {
        margin-right: 10px;
        font-size: 25px;
      }
    
      .menu-btn:focus {
        color: blue;
      }
    }

    .search {
      background-color: #fff;
      padding: 4px;
      border-radius: 5px
  }
  
  .search-1 {
      position: relative;
      width: 100%
  }
  
  .search-1 input {
      height: 45px;
      border: none;
      width: 100%;
      padding-left: 34px;
      padding-right: 10px;
      border-right: 2px solid #eee
  }
  
  .search-1 input:focus {
      border-color: none;
      box-shadow: none;
      outline: none
  }
  
  .search-1 i {
      position: absolute;
      top: 12px;
      left: 5px;
      font-size: 24px;
      color: #eee
  }
  
  ::placeholder {
      color: #eee;
      opacity: 1
  }
  
  .search-2 {
      position: relative;
      width: 100%
  }
  
  .search-2 input {
      height: 45px;
      border: none;
      width: 100%;
      padding-left: 18px;
      padding-right: 100px
  }
  
  .search-2 input:focus {
      border-color: none;
      box-shadow: none;
      outline: none
  }
  
  .search-2 i {
      position: absolute;
      top: 12px;
      left: -10px;
      font-size: 24px;
      color: #eee
  }
  
  .search-2 button {
      position: absolute;
      right: 1px;
      top: 0px;
      border: none;
      height: 45px;
      background-color: red;
      color: #fff;
      width: 90px;
      border-radius: 4px
  }
  
  @media (max-width:800px) {
      .search-1 input {
          border-right: none;
          border-bottom: 1px solid #eee
      }
  
      .search-2 i {
          left: 4px
      }
  
      .search-2 input {
          padding-left: 34px
      }
  
      .search-2 button {
          height: 37px;
          top: 5px
      }
  }

.height{

    height: 100vh;
}

.form{

    position: relative;
}

.form .fa-search{

    position: absolute;
    top:20px;
    left: 20px;
    color: #9ca3af;

}

.form span{

        position: absolute;
    right: 17px;
    top: 13px;
    padding: 2px;
    border-left: 1px solid #d1d5db;

}

.left-pan{
    padding-left: 7px;
}

.left-pan i{
   
   padding-left: 10px;
}

.form-input{

    height: 55px;
    text-indent: 33px;
    border-radius: 10px;
}

.form-input:focus{

    box-shadow: none;
    border:none;
}